.backdrop {
  position: fixed; /*this attribute helps in having a view of background UI */
  top: 0; /*top is used so that whatever height is being applied it will be from top of the viewing screen*/
  left: 0;/*width is used so that whatever height is being applied it will be from left side of the viewing screen*/
  width: 100%;  /*width and height attribute helps in making the how much bakground sould be not working*/
  height: 100vh; 
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background: #4f005f;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}